.footer {
  background-color: #343a40;
  color: white;
  padding: 1.5rem 2rem;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9rem;
}

.footer-links a {
  color: #adb5bd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: white;
}


.footer-bottom-bar {
  padding: 12px 24px;
  font-size: 0.9rem;
  color: #white;
  display: flex;
  flex-direction: column; /* para que cada <p> esté en su renglón */
}

.footer-privacy-link {
  text-align: right;      /* alinear a la derecha */
  color: #0073e6;         /* azul destacado */
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  margin-top: 4px;
  transition: all 0.2s ease;
}

.footer-privacy-link:hover {
  text-decoration: underline;
  color: #005bb5;
}
