/* Estilos para la página de "Restablecer Contraseña" */
.reset-password-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #e0eafc 20%, #5eb4f2 80%);
  padding: 25px;
  box-sizing: border-box;
}
