* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content{
  padding-top: 80px;
}

@media (max-width: 768px)  {
  .main-content {
    padding-top: 60px; /* Igual a la altura del navbar grande */
  }
}