.medication-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.filter-wrapper {
  position: relative;
  display: inline-block; 
}

.filters-dropdown {
  position: absolute;
  top: 110%; 
  left: 0;
  width: 220px; 
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); 
  z-index: 100; 
  overflow: hidden;
  padding: 0.5rem 0;
}

.filters-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-dropdown li{
  padding: 0.75rem 1.25rem;
  color: #333;
  font-size: 0.95rem;
  cursor: pointer; /* ¡Esto pone la manita! */
  transition: background-color 0.2s ease;
  display: block;
}

.filters-dropdown li:hover {
  background-color: #f0f0ff; /* Un fondo moradito muy suave */
  color: #3921f2; /* Texto morado */
  font-weight: 500;
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 180px;
  justify-content: space-between;
}

.filter-button:hover,
.filter-button.active {
  background-color: #f8f9fa;
  border-color: #3921f2; /* Tu color morado */
  color: #3921f2;
}

.search-bar {
  flex-grow: 1;
  position: relative;
}

.search-icon-wrapper {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
    color: #adb5bd;

}

.search-input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 3rem;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}

.search-input::placeholder {
  color: #adb5bd;
}

.filter-divider {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #adb5bd;
  background-color: #f8f9fa;
  padding: 0.5rem 1.25rem;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  cursor: default !important; 
  pointer-events: none; 
}

.filter-divider:hover {
  background-color: #f9f9f9 !important;
  color: #999 !important;
}