.profile-page {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Espacio entre cada sección */
  max-width: 900px;
  margin: 2rem auto; /* Centrado en la página */
  padding: 0 1rem;
}

.logout-section {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
