.register-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; 
  background: linear-gradient(135deg, #e0eafc 0%, #988cf0 40%,#5d49f5 90%);
  padding: 20px;
  box-sizing: border-box; 
}
